<div class="search-form mb-5">
    <%= form_with scope: "search", url: staff_student_members_path, method: "get", local: true do |f| %>
        <div class="form-group mb-1">
            <%= f.label :family_name, "性:" %>
            <%= f.text_field :family_name, value: @search_params[:family_name] %>
        </div>   
        <div class="form-group mb-1">
            <%= f.label :given_name, "名:" %>
            <%= f.text_field :given_name, value: @search_params[:given_name] %>
        </div>
        <div class="form-group mb-1">
            <%= f.label :family_name_kana, "性（カナ）:" %>
            <%= f.text_field :family_name_kana, value: @search_params[:family_name_kana] %>
        </div>   
        <div class="form-group mb-1">
            <%= f.label :given_name_kana, "名（カナ）:" %>
            <%= f.text_field :given_name_kana, value: @search_params[:given_name_kana] %>
        </div>
        <div class="form-group mb-1">
            <%= f.label :school_type, "学校:" %>
            <%= f.select :school_type, StudentMember.school_types_i18n.keys.map{|k| [I18n.t("enum.student_member.school_type.#{k}"), k]}, prompt: "選択する" %>
        </div> 
        <div class="form-group mb-1">
            <%= f.label :school_year, "学年:" %>
            <%= f.select :school_year, StudentMember.school_years_i18n.keys.map{|k| [I18n.t("enum.student_member.school_year.#{k}"), k]}, prompt: "選択する" %>
        </div>
        <%= f.submit "検索", class: "btn btn-outline-primary" %>
    <% end %>
</div>