<% provide(:body_title, "担当生徒詳細") %>
<div class="content">
    <table class="table">
        <tr>
            <th scope="col">担当講師</th>
            <td><%= @student.staff_member.full_name %></td>
        </tr>
        <tr>
            <th scope="col">生徒</th>
            <td><%= @student.full_name %></td>
        </tr>
        <tr>
            <th scope="col">保護者</th>
            <td><%= @student.parent_member.full_name %></td>
        </tr>
        <tr>
            <th scope="col">学校</th>
            <td><%= @student.school.name %></td>
        </tr>
        <tr>
            <th scope="col">学年</th>
            <td><%= @student.full_school_year %></td>
        </tr>
        <tr>
            <th scope="col">履修科目</th>
            <td>
                <% @subjects.each do |s| %>
                    <%= s.name %>
                <% end %>
            </td>
        </tr>
        <tr>
            <th scope="col">性別</th>
            <td><%= @student.gender_i18n %></td>
        </tr>
        <tr>
            <th scope="col">生年月日</th>
            <td><%= @student.birthday %></td>
        </tr>
    </table>
    <%= button_to "戻る", staff_student_members_path, method: "get", class: "btn btn-outline-secondary" %>
</div>