<table class="table">
    <tr><th scope="col">担当講師</th></tr>
    <tr><td><%= @student.staff_member.full_name %></td></tr>
    <tr><th scope="col">生徒</th></tr>
    <tr><td><%= @student.full_name %></td></tr>
    <tr><th scope="col">保護者</th></tr>
    <tr><td><%= @student.parent_member.full_name %></td></tr>
    <tr><th scope="col">学校</th></tr>
    <tr><td><%= @student.school.name %></td></tr>
    <tr><th scope="col">学年</th></tr>
    <tr><td><%= @student.full_school_year %></td></tr>
    <tr><th scope="col">履修科目</th></tr>
        <% @subjects.each do |s| %>
            <td><%= s.name %></td>
        <% end %>
    <tr><th scope="col">性別</th></tr>
    <tr><td><%= @student.gender_i18n %></td></tr>
    <tr><th scope="col">生年月日</th></tr>
    <tr><td><%= @student.birthday %></td></tr>
</table>
<%= link_to "戻る", staff_student_members_path, class: "btn btn-outline-secondary" %>