<div class="body-title">
    <p class="h5">点数表一覧</p>
</div>
<%= render "search_form" %>
<table class="table">
    <thead>
        <th scope="col">学校名</th>
        <th scope="col">学年</th>
        <th scope="col">生徒名</th>
        <th scope="col">テスト</th>
        <th scope="col">詳細</th>
    </thead>
        <% @score_sheets.each do |sheet| %>
        <tbody>
            <tr>
                <td><%= sheet.examination.school.name %></td>
                <td><%= sheet.student_member.school_type_i18n %><%= sheet.student_member.school_year_i18n %></td>
                <td><%= sheet.student_member.full_name %></td>
                <td><%= sheet.examination.name %></td>
                <td><%= link_to "表示する", staff_score_sheet_path(sheet.id), class: "btn btn-outline-info" %></td>
            </tr>
        </tbody>
        <% end %>
</table>
<%= paginate @score_sheets %>