<table class="table">
    <thead>
        <tr>
            <th scope="col">生徒</th>
            <th scope="col">担当講師</th>
            <th scope="col">日付</th>
            <th scope="col">時限</th>
            <th scope="col">メッセージ</th>
            <th scope="col">連絡事項</th>
            <th scope="col">詳細</th>
        </tr>
    </thead>
    <tbody>
        <%= @daily_sheets.each do |sheet| %>
            <tr>
                <td><%= sheet.student_member.full_name %></td>
                <td><%= sheet.staff_member.full_name %></td>
                <td><%= sheet.study_date %></td>
                <td><%= sheet.period %></td>
                <td><%= sheet.message %></td>
                <td><%= sheet.information %></td>
                <td><%= link_to "表示", parent_daily_sheet_path(sheet.id), class: "btn btn-outline-info" %></td>
            </tr>
        <% end %>
    </tbody>
</table>
<%= paginate @daily_sheets %>
<%= button_to "トップに戻る", parent_root_path, method: "get", class: "btn btn-outline-secondary" %>
