<%# "js-"から始まる:idはajaxで使うためのもの %>
<div class="form-group" id="js-hide_form">
    <%= f.label :student_member_id, "生徒:" %>
    <%= f.collection_select :student_member_id, StudentMember.all, :id, :full_name, prompt: "選択する" %>
</div>
<div class="form-group">
    <%= f.label :staff_member_id, "担当講師:" %>
    <%= f.collection_select :staff_member_id, StaffMember.all, :id, :full_name, selected: current_staff.id %>
</div>
<div class="form-group">
    <%= f.label :period_id, "時限:" %>
    <%= f.number_field :period_id, min: 1, max: 5, id: "js-period_form", class: "form-control" %>
</div>
<div class="form-group">
    <%= f.label :subject_id, "科目:" %>
    <%= f.collection_select :subject_id, Subject.all, :id, :name, prompt: "選択する", class: "form-control" %>
</div>
<div class="form-group">
    <%= f.label :starts_at, "開始時刻:" %>
    <%= f.time_field :starts_at, id: "js-start_time_form" %>
</div>
<div class="form-group">
    <%= f.label :ends_at, "終了時刻:" %>
    <%= f.time_field :ends_at, id: "js-end_time_form" %>
</div>
<div class="form-group" id="js-hide_form">
    <%= f.label :starts_on, "初回授業日:" %>
    <%= f.date_select :starts_on, class: "form-control" %>
</div>
<div class="form-group" id="js-hide_form">
    <%= f.label :ends_on, "最終回授業日:" %>
    <%= f.date_select :ends_on, class: "form-control" %>
</div>
<div class="form-group" id="js-hide_form">
    <%= f.label :repeats_on, "曜日:" %>
    <%= f.select :repeats_on, { "日": 0, "月": 1, "火": 2, "水": 3, "木": 4, "金": 5, "土": 6}, prompt: "選択する" %>
</div>
<div class="form-group">
    <%= f.label :title, "概要（表示名）:" %>
    <%= f.text_field :title, class: "form-control", placeholder: "例）3限英語", id: "js-title_form" %>
</div>
<div class="text-danger" id="js-show_text">※予約型なら「◯限講習」とする</div>