<table class="table">
    <tr><th scope="col">担当講師</th></tr>
    <tr><td><%= @event.staff_member.full_name %></td></tr>
    <tr><th scope="col">生徒</th></tr>
    <tr><td><%= @event.student_member.full_name %></td></tr>
    <tr><th scope="col">時限</th></tr>
    <tr><td><%= @event.period %></td></tr>
    <tr><th scope="col">授業概要</th></tr>
    <tr><td><%= @event.title %></td></tr>
    <tr><th scope="col">開始時刻</th></tr>
    <tr><td><%= @event.starts_at.strftime("%H:%M") %></td></tr>
    <tr><th scope="col">終了時刻</th></tr>
    <tr><td><%= @event.ends_at.strftime("%H:%M") %></td></tr>
</table>
<div class="btn-group">
    <%= button_to "出欠記録・編集", staff_events_edit_path(@event.id), method: :get, class: "btn btn-outline-primary" %>
    <%= button_to "削除", {controller: "staff/events", action: "destroy"}, method: :delete,
    data: { confirm: " イベント「#{@event.title}」を削除します。本当によろしいですか？" }, class: "btn btn-outline-danger" %>
    <%= button_to "戻る", {controller: "staff/events", action: "index"}, method: :get, class: "btn btn-outline-secondary" %>
</div>