<%= render "search_form" %>
<table class="table">
        <thead>
            <tr>
            <th scope="col">生徒名</th>
            <th scope="col">日付</th>
            <th scope="col">時限</th>
            <th scope="col">科目</th>
            <th scope="col">詳細</th>
            </tr>
        </thead>
        <%= @daily_sheets.each do |sheet| %>
        <tbody>
            <tr>
            <td><%= sheet.student_member.full_name %></td>
            <td><%= sheet.study_date %></td>
            <td><%= sheet.period %></td>
            <td><%= sheet.subject.name %></td>
            <td><%= button_to "表示", staff_daily_sheet_path(sheet.id), method: "get", class: "btn btn-outline-info" %></td>
            </tr>
        </tbody>
        <% end %>
</table>
<%= paginate @daily_sheets %>