<table class="table">
    <tr><th scope="col">担当講師</th></tr>
    <tr><td><%= @daily_sheet.staff_member.full_name %></td></tr>
    <tr><th scope="col">生徒</th></tr>
    <tr><td><%= @daily_sheet.student_member.family_name %></td></tr>
    <tr><th scope="col">日付</th></tr>
    <tr><td><%= @daily_sheet.study_date %></td></tr>
    <tr><th scope="col">時限</th></tr>
    <tr><td><%= @daily_sheet.period %></td></tr>
    <tr><th scope="col">科目</th></tr>
    <tr><td><%= @daily_sheet.subject.name %></td></tr>
    <tr><th scope="col">テキスト</th></tr>
        <% @textbooks.each do |t| %>
            <td><%= t.name %></td>
        <% end %>
    <tr><th scope="col">メッセージ</th></tr>
    <tr><td><%= @daily_sheet.message %></td></tr>
    <tr><th scope="col">連絡事項</th></tr>
    <tr><td><%= @daily_sheet.information %></td></tr>
</table>
<!- テキスト表示できず ->
