<div class="title border-bottom mt-4 mb-4">
    <p class="h5">デイリーシート詳細</p>
</div>
<table class="table">
    <tr><th scope="col">担当講師</th></tr>
    <tr><td><%= @daily_sheet.staff_member.full_name %></td></tr>
    <tr><th scope="col">生徒</th></tr>
    <tr><td><%= @daily_sheet.student_member.full_name %></td></tr>
    <tr><th scope="col">日付</th></tr>
    <tr><td><%= @daily_sheet.study_date %></td></tr>
    <tr><th scope="col">時限</th></tr>
    <tr><td><%= @daily_sheet.period %></td></tr>
    <tr><th scope="col">科目</th></tr>
    <tr><td><%= @daily_sheet.subject.name %></td></tr>
    <tr><th scope="col">テキスト</th></tr>
    <tr><td><%= @daily_sheet.textbook.name %></td></tr>
    <tr><th scope="col">メッセージ</th></tr>
    <tr><td><%= @daily_sheet.message %></td></tr>
    <tr><th scope="col">連絡事項</th></tr>
    <tr><td><%= @daily_sheet.information %></td></tr>
    <tr><th scope="col">出欠</th></tr>
    <tr><td><%= @daily_sheet.participation_i18n %></td></tr>
</table>
<div class="btn-group">
    <%= button_to "一覧", student_daily_sheets_path, method: "get", class: "btn btn-outline-secondary" %>
</div>
