<% provide(:body_title, "ユーザー情報") %>
<div class="content">
    <table class="table">
        <tr>
            <th scope="col">性</th>
            <td><%= @parent.family_name %></td>
        </tr>
        <tr>
            <th scope="col">名</th>
            <td><%= @parent.given_name %></td>
        </tr>
        <tr>
            <th scope="col">性（フリガナ）</th>
            <td><%= @parent.family_name_kana %></td>
        </tr>
        <tr>
            <th scope="col">名（フリガナ）</th>
            <td><%= @parent.given_name_kana %></td>
        </tr>
        <tr>
            <th scope="col">性別</th>
            <td><%= @parent.gender_i18n %></td>
        </tr>
        <tr>
            <th scope="col">生年月日</th>
            <td><%= @parent.birthday %></td>
        </tr>
        <tr>
            <th scope="col">メールアドレス</th>
            <td><%= @parent.email %></td>
        </tr>
    </table>
    <div class="btn-group">
        <%= button_to "編集", parent_edit_path(@parent.id), method: "get", class: "btn btn-outline-primary mx-2" %>
        <%= button_to "削除", { controller: "acounts", action: "destroy" }, method: "delete",
            data: { confirm: "ユーザー「#{@parent.full_name}」を削除します。本当によろしいですか？" }, class: "btn btn-outline-danger" %>
    </div>
</div>