<%= form_with scope: :session, url: student_login_path, local: true do |f| %>
    <%= markup do |m|
        p = AccountFormPresenter.new(f, self)
        m << p.notes
        p.with_options(required: true) do |q|
            m << q.text_field_block(:email, "メールアドレス", class: "form-control")
            m << q.password_field_block(:password, "パスワード", class: "form-control")
        end
    end %>
    <div class="form-submit">
        <%= f.submit "ログイン", class: "btn btn-outline-info" %>
    </div>
<% end %>
<%= button_to "戻る", root_path, method: "get", class: "btn btn-outline-secondary" %>
<a>または<%= link_to "新規登録", student_signup_path, class: "text-info", id: "student_signup" %></a>