<%= form_with scope: :session, url: student_login_path, local: true do |f| %>
        <div>
            <%= f.label :family_name_kana, "性(カタカナ)" %>
            <%= f.text_field :family_name_kana %>
        </div>
        <div>
            <%= f.label :given_name_kana, "名(カタカナ)" %>
            <%= f.text_field :given_name_kana %>
        </div>
        <div>
            <%= f.label :password, "パスワード" %>
            <%= f.text_field :password %>
        </div>
        <div>
            <%= f.submit "ログイン" %>
        </div>
<% end %>
<a>または<%= link_to "新規登録", student_signup_path %></a>