<%= form_with scope: :session, url: parent_login_path, local: true do |f| %>
        <div>
            <%= f.label :email, "メールアドレス" %>
            <%= f.text_field :email %>
        </div>
        <div>
            <%= f.label :password, "パスワード" %>
            <%= f.text_field :password %>
        </div>
        <div>
            <%= f.submit "ログイン" %>
        </div>
<% end %>
<a>または<%= link_to "新規登録", parent_signup_path %></a>