<%= markup do |m|
    p = AccountFormPresenter.new(f, self)
    m << p.notes
    p.with_options(required: true) do |q|
        m << q.full_name_block(:family_name, :given_name, "氏名", class: "form-control col")
        m << q.full_name_block(:family_name_kana, :given_name_kana, "フリガナ", class: "form-control col")
        m << q.text_field_block(:email, "メールアドレス", class: "form-control")
    end
end %>
<div class="form-group">
    <%= f.label :gender, "性別", class: "required" %>
    <%= f.select :gender, StudentMember.genders_i18n.keys.map{|k| [I18n.t("enums.student_member.gender.#{k}"), k]}, required: true %>
</div> 
<div class="form-group">
    <%= f.label :birthday, "生年月日", class: "required" %>
    <%= f.date_select :birthday, start_year: Time.now.year, end_year: 1900, class: "form-control", required: true %>
</div> 
<div class="form-group">
    <%= f.label :school_id, "学校", class: "required" %>
    <%= f.collection_select :school_id, School.all, :id, :name, prompt: "選択する", required: true %>
</div>
<div class="form-group">
    <%= f.label :school_type, "学年1", class: "required" %>
    <%= f.select :school_type, StudentMember.school_types_i18n.keys.map{|k| [I18n.t("enums.student_member.school_type.#{k}"), k]}, prompt: "選択する", required: true %>
</div>
<div class="form-group">
    <%= f.label :school_year, "学年2", class: "required" %>
    <%= f.select :school_year, StudentMember.school_years_i18n.keys.map{|k| [I18n.t("enums.student_member.school_year.#{k}"), k]}, prompt: "選択する", id: "years_for_elementary", required: true %>
</div>

<div class="form-group" id="js-subjects_form">
    <%= f.label :subject_ids, "科目" %>
    <%= collection_check_boxes(:student_member, :subject_ids, Subject.all, :id, :name) do |t|  %>
    <% t.label { t.check_box + t.text } %>
    <% end %>
</div>
<div class="form-group">
    <%= f.label :staff_member_id, "担当講師", class: "required" %>
    <%= f.collection_select :staff_member_id, StaffMember.all, :id, :full_name, prompt: "選択する", required: true %>
</div>
<div class="form-group">
    <%= f.label :parent_member_id, "保護者", class: "required" %>
    <%= f.collection_select :parent_member_id, ParentMember.all, :id, :full_name, prompt: "選択する", required: true %>
</div>