<%= form_with url: student_signup_path, local: true do |f| %>
    <div class="form-group">
        <%= f.label :family_name, "性" %>
        <%= f.text_field :family_name, class: "form-control" %>
    </div>   
    <div class="form-group">
        <%= f.label :given_name, "名" %>
        <%= f.text_field :given_name, class: "form-control" %>
    </div>   
    <div class="form-group">
        <%= f.label :family_name_kana, "性（フリガナ）" %>
        <%= f.text_field :family_name_kana, class: "form-control" %>
    </div>   
    <div class="form-group">
        <%= f.label :given_name_kana, "名（フリガナ）" %>
        <%= f.text_field :given_name_kana, class: "form-control" %>
    </div> 
    <div class="field">
        <%= f.label :gender, "性別:" %>
        <%= f.label :男性 %>
        <%= f.radio_button :gender, :male %>
        <%= f.label :女性 %>
        <%= f.radio_button :gender, :female %>
        <%= f.label :その他 %>
        <%= f.radio_button :gender, :others %>
    </div>
    <div class="field">
        <%= f.label :birthday, "生年月日:" %>
        <%= f.date_field :birthday, class: "form-control" %>
    </div> 
    <div class="field">
        <%= f.label :school_type, "学校:" %>
        <%= f.select :school_type, StudentMember.school_types_i18n.keys.map{|k| [I18n.t("enum.student_member.school_type.#{k}"), k]} %>
    </div> 
    <div class="field">
        <%= f.label :school_year, "学年:" %>
        <%= f.select :school_year, StudentMember.school_years_i18n.keys.map{|k| [I18n.t("enum.student_member.school_year.#{k}"), k]} %>
    </div>
    <div class="form-group">
        <%= f.label :password, "パスワード" %>
        <%= f.text_field :password, class: "form-control" %>
    </div>   
    <div class="form-group">
        <%= f.label :password_confirmation, "パスワード（確認）" %>
        <%= f.text_field :password_confirmation, class: "form-control" %>
    </div>
    <%= f.submit "登録", class: "btn btn-priary" %>
<% end %>