<%= form_with model: @student, url: student_signup_path, local: true do |f| %>
    <%= render "layouts/error_messages", model: f.object %>
    <%= render partial: "form", locals: { f: f } %>
    <%= markup do |m|
        p = AccountFormPresenter.new(f, self)
        p.with_options(required: true) do |q|
            m << q.password_field_block(:password, "パスワード", class: "form-control", required: true)
            m << q.password_field_block(:password_confirmation, "パスワード（確認）", class: "form-control", required: true)
        end
    end %>
    <div class="form-submit">
        <%= f.submit "登録", class: "btn btn-outline-success" %>
    </div>
<% end %>

<%= javascript_pack_tag "student_signup" %>
